@model IEnumerable<EmployeeViewModel>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.FamilyName)</th>
                    <th>@Html.DisplayNameFor(model => model.GrossPay)</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @employee.FirstName
                        </td>
                        <td class="align-middle">
                            @employee.FamilyName
                        </td>
                        <td class="align-middle">
                            @employee.GrossPay
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@employee.Id"><i class="bi bi-pencil-square"></i>Редактирай</a> |
                            <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@employee.Id"><i class="bi bi-eye"></i>Виж детайли</a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@employee.Id"><i class="bi bi-trash"></i>Изтрий</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

